nimcache/
nimblecache/
tests/tparser
tests/tdriver_browser
tests/tdriver_vscode
tests/tgui_assert
tests/tmedia
tests/teditor
tests/tcapture
tests/tappium
tests/twindow_layout
tests/ttalking_head
tests/tspeech_synthesis
src/gui_assert/media
src/gui_assert/speech_synth
*.dSYM
.pre-commit-config.yaml
